.venv
__pycache__
.vscode
.idea
naari_app/callbacks/side_nav_callback.py
naari_app/app_ids.py
naari_logging/Logs
.env
data.json
naari_config.json
nari_config - backup.json
presets.json
save_code.py
test_stuff.py
